.color1{
    color:#ef476f;
    font-weight: bold;

}

.color2{
    color:#ffd166;
    font-weight: bold;
    
}

.color3{
    color:#06d6a0;
    font-weight: bold;
    
}

.color4{
    color:#118ab2;
    font-weight: bold;
    
}

.color5{
    color:#ff006e;
    font-weight: bold;
}
.color6{
    
    color:#e09f3e;
    font-weight: bold;
}

.color7{
    
    color:#43aa8b;
    font-weight: bold;
}

.color8{
    
    color:#277da1;
    font-weight: bold;
}
.colors{
    position: relative;
    top:7px;
    float: left;
    width: 500px;
    
}
.col-sm-1{
    width:0.5px;
    display:inline-block;
    padding-right:30px;     
    height:30px;
    cursor:pointer;
    transition:  1s;
}
.pickcolor1{
    background-color:#be0000;
}
.pickcolor2{
    background-color:#000000;
}
.pickcolor3{
    background-color:#00268d;
}
.pickcolor4{
    background-color:#006e18;
}
.pickcolor5{
    background-color:#ecfd00;
}
.pickcolor6{
    background-color:#00f7ff;
}
.pickcolor7{
    background-color:#fa8e00;
}
.pickcolor8{
    background-color:#3200e9;
}
.pickcolor9{
    background-color:#cc00ff;
}
.pickcolor10{
    background-color:#ffffff;
}
