*{
      font-family: Montserrat;
}
body{
      padding:0 !important;
      margin:0 !important;
      
}
.body-bg-color-light{
      /* background-color: #fdfdfd; */
      background-color:whitesmoke;
}
.body-bg-color-dark{
      background-color: #313131;
}
.toolbox{
      /* background-color:#f8f9fa; */
      float: left;
      height:82vh;
}
.colorbar{
      width:100%;
      height:10vh;
}
.left-icon-desing{
      /* position: relative;
      right: 0;
      left: 85px;
      top: 268px;
       */
       float:right;
      cursor: pointer;
}
.toolbox-minimize{
      transition: width 2s;
      width:30px;
}
.toolbox-maximize{
      transition: width 2s;     
      width:100px;
}
.up-icon{
      cursor: pointer;
}
#paintcanvas{
      width:95%;
      background-color:white;
      margin-left: 20px;
      height: 79vh;
      margin-top: 10px;      
}
#modetoggle{
      font-size: 2rem;
    position: relative;
    top: 5px;
    right: 5px;
}

#moveIcon{
      font-size: 30px;
}

.styleTools{
      font-size: 30px;
      position: relative;
      left: 15px;
      top: 25px;
}
.styleTools:hover{
      cursor: pointer;
}

.styleTools i:hover{
      color: rgb(174, 111, 226)
}

.selectedTool{
      width: 70px;
      height: 70px;
      border: 2px solid rgb(61, 61, 61);
      padding-left: 18px;
      padding-top: 8px;
      box-shadow: inset 1px 1px 10px 1px;
}
.white{
      color:white;
}
.dakr{
      color:black;
}
#modetoggle{
cursor: pointer;
}
