*{
      font-family: Montserrat;
}
body{
      padding:0 !important;
      margin:0 !important;
       overflow:hidden;
       
      
}
.body-bg-color-light{
      /* background-color: #fdfdfd; */
      background-color:whitesmoke;
}
.body-bg-color-dark{
      background-color: #313131;
}
.toolbox{
      /* background-color:#f8f9fa; */
      float: left;
      height:82vh;
}
.colorbar{
      width:100%;
      height:10vh;
}
.left-icon-desing{
      /* position: relative;
      right: 0;
      left: 85px;
      top: 268px;
       */
       float:right;
      cursor: pointer;
}
.toolbox-minimize{
      transition: width 1s;
      width:30px;
}
.toolbox-maximize{
      transition: width 1s;     
      width:100px;
}
.up-icon{
      cursor: pointer;
}
#paintcanvas{
      width:95%;
      background-color:white;
      margin-left: 20px;
      height: 79vh;
      margin-top: 10px;  
      position: relative;    
}
#modetoggle{
      font-size: 2rem;
    position: relative;
    top: 5px;
    right: 5px;
}

#moveIcon{
      font-size: 30px;
}

.styleTools{
      font-size: 30px;
      position: relative;
      left: 15px;
      top: 25px;
}
.styleTools:hover{
      cursor: pointer;
}

.styleTools i:hover{
      color: rgb(174, 111, 226)
}

.selectedTool{
      width: 70px;
      height: 70px;
      border: 2px solid rgb(61, 61, 61);
      padding-left: 18px;
      padding-top: 8px;
      box-shadow: inset 1px 1px 10px 1px;
}
.white{
      color:white;
}
.dakr{
      color:black;
}
#modetoggle{
cursor: pointer;
}
 .color1{
      color:#ef476f;
      font-weight: bold;

}

.color2{
      color:#ffd166;
      font-weight: bold;
      
}

.color3{
      color:#06d6a0;
      font-weight: bold;
      
}

.color4{
      color:#118ab2;
      font-weight: bold;
      
}

.color5{
      color:#ff006e;
      font-weight: bold;
}
.color6{
      
      color:#e09f3e;
      font-weight: bold;
}

.color7{
      
      color:#43aa8b;
      font-weight: bold;
}

.color8{
      
      color:#277da1;
      font-weight: bold;
}
.colors{
      position: relative;
      top:7px;
      float: left;
      width: 500px;
      
}
.pickcolor1{
            background-color:#240046;
}
.col-sm-1{
      width:1px;
      display:inline-block;
      padding-right:30px;     
      height:40px;
      cursor:pointer;
      transition:  1s;
      opacity: 0.3;
}
.col-sm-1:hover{
      opacity:1;
      box-shadow:5px 5px 5px 5px back;
}
.pickcolor2{
      background-color:#002642;
}
.pickcolor3{
      background-color:#9a031e;
}
.pickcolor4{
      background-color:#03045e;
}
.pickcolor5{
      background-color:#ff8800;
}
.pickcolor6{
      background-color:#006400;
}
.pickcolor7{
      background-color:#b2c9ab;
}
.pickcolor8{
      background-color:#5e3023;
}
.pickcolor9{
      background-color:#97d2fb;
}
.pickcolor10{
      background-color:#540d6e;
}

input[type="color"]{
      background-color:rgb(82, 81, 81);
      border:0;
      height:42px;
      outline:none;
      cursor: pointer;
      opacity: 0.7;

}
input[type="color"]:hover{
      opacity: 1;
}
.footer-right-container{
      float:right;
      position: relative;
      right:100px;
      top:10px;
}

.cordinates{
      background-color: rgb(228, 227, 227);
      padding:10px;
      color:black!important;
}
#zoom-area{
      display: inline;
      position: relative;
      left:60px;
      top:2px;

}
.paint-container::-webkit-scrollbar-track {
      background: rgb(58, 58, 57);        /* color of the tracking area */
    }
    
.paint-container::-webkit-scrollbar {
      width:1px;
}
.paint-container::-webkit-scrollbar-thumb{
      background-color:white;
      
}

#zoomrange{
      cursor: pointer;
}
.cordinates_continaer{
      display:inline;
      position: relative;
      left:50px;
}
.paint-container{
      overflow-X: scroll;
      scrollbar-width: thin;
}